<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>News app</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- HEADER -->
        <header class="col-xs-12">
            <h2 th:text="'Show one news page'">NEWS TODAY</h2>
        </header>
    </div>
    <div class="row">
        <!-- ОСНОВНОЙ КОНТЕНТ -->
        <section class="col-xs-12">
            <div class="row">
                <!-- ASIDE -->
                <div class="col-md-4 col-lg-3">
                    <div class="row">
                        <!-- ASIDE #1 -->
                        <aside class="col-sm-6 col-md-12">
                            <div class="flex-row">
                                <a href="#">Russian</a>
                                <a href="#">English</a>
                            </div>
                        </aside>
                        <br>
                        <br>
                        <br>
                        <!-- ASIDE #2 -->
                        <aside class="col-sm-6 col-md-12">
                            <h4 class="text-info"><a href="#" th:href="@{'/index'}">News list</a></h4>
                            <h4 class="text-info"><a href="#" th:href="@{'/news/new'}">Create news</a></h4>
                        </aside>
                    </div>
                </div>
                <!-- MAIN -->
                <main class="col-md-8 col-lg-9">
                    <!--/*@thymesVar id="news" type="com.epam.spring.model.News"*/-->
                    <div class="news-container">
                        <h3 class="text-danger" th:text="${oneNews.title}">Penicillin allergies may be linked to one
                            immune system gene</h3>
                        <div class="brief-text text-success font-italic" th:text="${oneNews.getBriefContent()}">
                            People with self-reported allergies to the drug may have a vulnerability on the HLA-B gene
                        </div>
                        <ul class="flex-row font-italic text-info">
                            <!--/*@thymesVar id="getName" type="com.epam.spring.model.Category"*/-->
                            Categories:
                            <li th:each="category : ${oneNews.categories}">
                                <a href="#" th:text="${category.getName()}">Science</a>
                            </li>
                        </ul>
                        <div class="news-text" th:text="${oneNews.getContent()}">Penicillin, effective against many
                            bacterial infections, is often a first-line antibiotic.
                            Yet it is also one of the most common causes of drug allergies. Around 10 percent of people
                            say they’ve had an allergic reaction to penicillin, according to the U.S. Centers for
                            Disease
                            Control and Prevention.
                            Now researchers have found a genetic link to the hypersensitivity, which, while rarely
                            fatal,
                            can cause hives, wheezing, arrythmias and more.
                            People who report penicillin allergies can have a genetic variation on an immune system gene
                            that helps the body distinguish between our own cells and harmful bacteria and viruses.
                            That hot spot is on the major histocompatibility complex gene HLA-B, said Kristi Krebs, a
                            pharmacogenomics researcher for the Estonian Genome Center at the University of Tartu.
                            She presented the finding October 26 at the American Society of Human Genetics 2020 virtual
                            meeting.
                            The research was also published online October 1 in the American Journal of Human Genetics.
                        </div>
                        <div class="text-lowercase text-info text-sm-right">
                            <p th:text="${oneNews.getAuthor().getFirstName()} + ' ' + ${oneNews.getAuthor().getLastName()}">
                                Author of this news
                        </div>
                        <a href="#" class="btn btn-primary" th:href="@{'/news/' + ${oneNews.id} + '/edit'}">Edit</a>
                        <a href="#" class="btn btn-primary" th:href="@{'/news/' + ${oneNews.id} + '/delete'}">Delete</a>
                    </div>
                </main>
            </div>
        </section>
    </div>
    <br>
    <div class="row">
        <!-- FOOTER -->
        <footer class="col-xs-12">
            Footer of news portal
        </footer>
    </div>
</div>
</body>
</html>